<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('testing-html-css',filename='styles.css') }}" /> -->
    <link rel="stylesheet" href="styles.css">
    <!-- <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script> -->
    <style type="text/tailwindcss">
      @layer utilities {
        .content-auto {
          content-visibility: auto;
        }
      }
    </style>
    <!-- <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='icon.png') }}" /> -->
    <title>Stable Diffusion App</title>
</head>
<body>
  <div class="container">
  <div class="heading" >
    <!-- ... -->
    <h1 class="app_name">
      Stable Diffusion App
    </h1>
  <!-- <h1></h1> -->
    <p class="para">Generate images with stable diffusion for free! Enter your prompt below and hit "Create" to generate an image (takes ~10 seconds per image).</p>
   
  </div>
    
   
   
   
    <form class="form_sub" action="\submit-prompt" method="post" id="submission-form">
         
            <div class="prompt">
              <label for="prompt">Prompt:</label>
              <!-- <input type="text" id="prompt" name="prompt-input" /> -->
              <input type="text" class="text-1xl relative top-8" id="prompt" name="prompt-input" placeholder="Enter Text...">
              
              <button type="submit">Create</button>
            </div>
    </form>

    <div class="image">
      <!-- <img src="Screenshot 2023-03-23 193837.png" class="mainImg" alt="Generated Image"> -->
      <img src="#" class="mainImg" alt="Generated Image">

    </div>
  </div>
</body>
</html>
